data/attractiveness_of_living_clusters_means.png
data/barplot_1.png
data/barplot_2.png
data/barplot_3.png
data/barplot_4.png
data/Opt_K_Attractiveness_of_living_clustering.png
data/opt_K_venues_clustering.png
data/report.odt
data/report.rtf
